#animation-container {
    box-sizing: content-box;
    position:relative;
    margin:0;
    height:600px;
    /* width:600px; */
    /* border:solid 1px green; */
}

#renderCanvas {
    box-sizing: border-box;
    margin:0;
    width:100%;
    height:100%;
    border:none;
    touch-action: none;

}
.control-panel {
    user-select: none;
    position:absolute;
    border:solid 1px gray;
    background-color: rgba(100,100,100,0.5);
    color:white;
    border-radius: 5px;
    padding:10px;
    margin:5px;
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
#group-buttons {
    right:10px;
    top:10px;
    width:220px;
    height:170px;
    
}
#group-buttons button {
    font-size:14px;
    font-family: 'Arial Narrow';
    color:white;
    border-radius: 4px;
    border:solid 1px white;
    background-color: #222;
    width:40px;
    height:30px;
    margin:2px;
    padding:0;
    box-sizing: border-box;
}
#group-buttons button:hover {
    background-color: #444;
}
#group-buttons button:active {
    background-color: black;
}
#group-buttons button.checked {
    border:solid 1px rgb(199, 43, 43);
}
#toolbox {
    left:10px;
    bottom:10px;

}
.color-btn {
    border: solid 2px white;
    width:20px;
    height:20px;
    margin:2px;
    box-sizing:border-box;
    padding:0;
}
.color-btn.checked {
    border: solid 2px red;
}


.my-btn {
        margin:5px;
}

#info {
    width:190px;
    height:570px;
    right:10px;
    top:10px;
    display: flex;
    flex-direction: column;
    padding:0;
}

#info .header{
    background-color: rgba(100,100,100,0.5);
    margin:0;
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
    padding:3px;
}

#info select {
    padding: 0 4px;
    margin: 4px;
    font-size:14px;
    width:60px;
}

#info .body {
    margin:0;
    padding:10px;
    border-bottom-left-radius:inherit;
    border-bottom-right-radius:inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.examples {
    overflow-y: auto;
}

.examples img {
    width:150px;
    height:150px;
    border:solid 1px white;
    margin:5px auto;
}

#info h2 {
    font-size:small;
    margin-top:0;
    color:gray;
}